<div class="contain">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="back-lin">
    <%= link_to '/' do %>
      <%= image_tag('icons8-left-24 (1).png') %>
    <% end %>
    <h2>LOGIN</h2>
    <div class="acti">
      <%= f.submit "Next", class: "btnn" %>
    </div>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password" %>
  </div>
<% end %>
<div class="blu">
<%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>

</div>