<%= link_to "/categories/#{category.id}" do %>
  <div id="<%= dom_id category %>" class="categories-container">
    <p>
      <%= image_tag category.icon.url %>
    </p>

    <p>
      <%= category.name %>
    </p>

    <p>
      <%= category.user_id %>
    </p>
  </div>
<% end %>
