<div id="categories" class="contains">
<div class="back-lins">
<%= link_to categories_path do %>
  <%= image_tag('icons8-left-24 (1).png') %>
<% end %>
<div class="acent">
<h2>TRANSACTIONS</h2>
<p>Most Ancient</p>
</div>
<div class="actis">
<%= button_to "OUT", destroy_user_session_path, method: :delete, class: "btnn" %>
</div>
</div>
<% total = 0 %>
<% @category.items.each do |item| %>
  <% total += item.amount %>
<% end %>

<div class="flex-bold2">
  <p>Gift Credit</p>
  <p>$<%= total %></p>
</div>

<div>
        <% @category.items.each do |item| %>
        <div class="flex-bold">
        <div class="flex-bold1">
            <p><%= item.name %></p>
            <p>$<%= item.amount %></p>
        </div>
            <p><%= item.created_at.strftime('%d-%b-%Y') %> <p>
        </div>
        <% end %>
</div>


<div class="new-cs">
<p class="new-s"><%= link_to 'New Category Item', new_category_item_path(@category.id) %></p>
</div>

</div>